<!doctype html>
<html lang="de">
	<head>
		<title>Kummerkasten</title>
		
		<meta charset="utf-8"/>
		<meta name="keywords" content="Kummerkasten">
		<meta name="description" content="Kummerkasten">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body>
		<div id="wrapper">		
			<header>
				<h1>PALETTE unten <span>...immer ohne!</span>&trade;</h1>
				<nav>
					<ul id="menu">
						<li><a href="/" title="Startseite">home</a></li>
						<li><a href="/news" title="Neuigkeiten">news</a></li>
						<li><a href="/kummer" title="Hast du Probleme?">kummerkasten</a></li>
						<!--<li><a href="/black" title="Schwarzes Brett">schwarzes_brett</a></li>
						<li><a href="/probleme" title="Punkte, die angesprochen werden sollten">zu_besprechen</a></li> -->
					</ul>
				</nav> 
			</header>
			<section>