<% include ../partials/top %>
<h2>Ooops! Ein Fehler ist aufgetreten!</h2>
<p>Zur Zeit sind keine Aktivitäten möglich!</p>
<p>Sorry! Bitte versuche es später wieder.</p>
<% include ../partials/bottom %>