<% include ../partials/top %>
				<h2>Willkommen</h2>
				<div class="fl"><img class="ifl" src="pics/kol.svg" title="Kollege" width="300" /></div>
				<p>Hallo Kollegen und Freunde. Willkommen auf unserer Homepage.</p>
				<p>Hier kannst du dich informieren was so bei uns passiert, aber auch deinen Unmut kundtun falls dir mal was gegen den Strich geht.</p>
				<p>Viel Spass und alles Gute!</p>
				<br class="clr">
<% include ../partials/bottom %>
